<div id="gran_texto">
	<h1>Ayudamos a las <strong>organizaciones</strong> a crear mejores <strong>modelos de negocio</strong> a través de la innovación</h1>
</div>

<div id="emprendedor" class="animated">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left1">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 animated" id="intro_right1">
				<h3>¿Tienes una idea?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
				<%= link_to emprendedores_path do %> 
				<button class="button button_red" id="nuevo">Más información</button>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="emprendedor2">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 visible-sm visible-xs col-sm-offset-1">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left2">
				<h3>¿Tienes una empresa?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
				<%= link_to proyectos_de_innovacion_path do %> 
				<button class="button button_red">Más información</button>
				<% end %>

			</div>
			<div class="col-sm-5 hidden-sm hidden-xs animated" id="intro_right2">
				<%= image_tag src="prueba.jpg" %>
			</div>
		</div>
	</div>
</div>

<div id="emprendedor3">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left3">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 animated" id="intro_right3">
				<h3>¿Quieres gestionar mejor tu talento?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
				<%= link_to desarrollo_de_talento_path do %> 
				<button class="button button_red">Más información</button>
				<% end %>

			</div>
		</div>
	</div>
</div>

<div id="emprendedor4">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 visible-sm visible-xs col-sm-offset-1">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left4">
				<h3>¿Quieres aprender a emprender?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
				<%= link_to academy_path do %> 
				<button class="button button_red">Más información</button>
				<% end %>

			</div>
			<div class="col-sm-5 hidden-sm hidden-xs animated" id="intro_right4">
				<%= image_tag src="prueba.jpg" %>
			</div>
		</div>
	</div>
</div>

<div id="emprendedor5">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left5">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 animated" id="intro_right5">
				<h3>¿Quieres hacer una plataforma o web app?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
				<%= link_to soluciones_digitales_path do %> 
				<button class="button button_red">Más información</button>
				<% end %>

			</div>
		</div>
	</div>
</div>