<div id="emprendedor" class="animated">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left1">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 animated" id="intro_right1">
				<h3>¿Qué hacemos?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
			</div>
		</div>
	</div>
</div>

<div id="emprendedor4">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 visible-sm visible-xs col-sm-offset-1">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left4">
				<h3>¿Por qué lo hacemos?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>

			</div>
			<div class="col-sm-5 hidden-sm hidden-xs animated" id="intro_right4">
				<%= image_tag src="prueba.jpg" %>
			</div>
		</div>
	</div>
</div>

<div id="emprendedor3" class="animated">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 animated" id="intro_left3">
				<%= image_tag src="prueba.jpg" %>
			</div>
			<div class="col-sm-5 animated" id="intro_right3">
				<h3>¿Cómo lo hacemos?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum natus officia minima labore dolores expedita nulla nostrum suscipit magni ratione, consequuntur officiis facilis rerum, voluptates quaerat quibusdam, eveniet, aperiam aliquid?</p>
			</div>
		</div>
	</div>
</div>

<div id="banner" class="mid_banner home2">
	<div class="container">
		<!-- 	<p class="mid_banner_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam impedit consectetur velit. Unde porro, sequi id cupiditate fugiat magnam saepe, sit adipisci iure alias iusto magni perspiciatis amet laborum iste!</p> -->
	</div>
</div>

<div id="equipo">
	<div class="container">
		<h2>Nuestro Equipo</h2>
		<hr class="red">
		<div class="row">
			<ul>
				<li class="col-md-4">
					<%= image_tag src="prueba.jpg" %>
					<h4>Jorge Peralta García</h4>
				</li>

				<li class="col-md-4">
					<%= image_tag src="prueba.jpg" %>
					<h4>Guillermo Muñoz</h4>
				</li>

				<li class="col-md-4">
					<%= image_tag src="prueba.jpg" %>
					<h4>Alejandro Romo</h4>
				</li>

				<li class="col-md-4">
					<%= image_tag src="prueba.jpg" %>
					<h4>Nemesio Arriola</h4>
				</li>

				<li class="col-md-4">
					<%= image_tag src="prueba.jpg" %>
					<h4>Alberto Vazquez</h4>
				</li>
			</ul>
		</div>
	</div>
</div>
