<div id= "banner" class="cover_<%=params[:action]%>"></div>


<div id="gran_texto">
	<h1>Creamos <strong>Idearia Lab Academy</strong> para compartir nuestro conocimiento y nuestra experiencia en <strong>Innovación </strong> con todos</h1>
</div>

<!-- Talleres para emprendedores -->

<div id="A_emprendedores">
	<h2>Talleres para emprendedores</h2>
	<hr class="red">
	<div class="container">
		<div id="cursos_33">
			<ul>
			<%= link_to academy_lean_startup_path do %>
				<li>
					<h3>Lean Startup</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_prototipado_path do %>
				<li>
					<h3>prototipado</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_creatividad_path do %>
				<li>
					<h3>Creatividad</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_modelos_de_negocio_path do %>
				<li>
					<h3>Modelo de negocio</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_legal_para_startups_path do %>
				<li>
					<h3>Legal para startups</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_finanzas_de_supervivencia_path do %>
				<li>
					<h3>Finanzas de supervivencia</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>

<!-- Fin de los talleres de emprendores  -->

<!-- Talleres de organizaciones -->

<div id="O_emprendedores">
	<h2>Talleres para Organizaciones</h2>
	<hr class="red">
	<div class="container">
		<div id="cursos_33">
			<ul>
			<%= link_to academy_nuevas_lineas_de_negocio_path do %>
				<li>
					<h3>Nuevas líneas de negocio</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_cultura_de_la_innovacion_path do %>
				<li>
					<h3>Cultura de la innovación</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_implementacion_de_ideas_de_negocio_path do %>
				<li>
					<h3>Implementación ideas de negocio</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_planeacion_estrategica_path do %>
				<li>
					<h3>Planeación Estretégica</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			</ul>
		</div>
	</div>
</div>

<!-- Fin de los talleres de organizaciones  -->

<!-- Talleres de Talento  -->

<div id="T_emprendedores">
	<h2>Talleres para Desarrollo de Talento</h2>
	<hr class="red">
	<div class="container">
		<div id="cursos_33">
			<ul>
			<%= link_to academy_competencias_de_innovacion_path do %>
				<li>
					<h3>Competencias de Innovación</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_intelligent_people_path do %>
				<li>
					<h3>Intelligent People</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			</ul>
		</div>
	</div>
</div>

<!-- Fin de talento  -->

<!-- conferencias  -->

<div id="C_emprendedores">
	<h2>Conferencias</h2>
	<hr class="red">
	<div class="container">
		<div id="cursos_33">
			<ul>
			<%= link_to academy_innovacion_path do %>
				<li>
					<h3>Innovación</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_planeacion_path do %>
				<li>
					<h3>Planeación</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_liderazgo_path do %>
				<li>
					<h3>Liderazgo</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			<%= link_to academy_trabajo_en_equipo_path do %>
				<li>
					<h3>Trabajo en Equipo</h3>
					<p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repellendus odio fuga, ratione eum omnis vero rerum vel dolore illo suscipit dolorem expedita aliquid amet quidem pariatur quasi eligendi! Illo.</p>
				</li>
			<% end %>

			</ul>
		</div>
	</div>
</div>

<!-- Fin de conferencias  -->
