<div id= "banner" class="cover_home">
	<h1 class="typed2">INNOVAR</h1>
	<h1 class="element typed"></h1>
</div>


<!-- Proceso -->

<div id="tripas">
	<div class="container">
		<h2>Innovar es nuestra razón de ser</h2>
		<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
		<hr>
		<div class="row">
			<ul>
				<li class="col-md-4 animated suben">
					<%= image_tag src="organizaciones.png" %>
					<h3>Proyectos de Innovación</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam tenetur veniam beatae saepe eos facere, ex tempora vel quia minus necessitatibus dolores voluptatibus nobis aperiam error maiores quod, corrupti numquam.</p>
				</li>

				<li class="col-md-4 animated suben">
					<%= image_tag src="emprendedores.png" %>
					<h3>Emprendedores</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam tenetur veniam beatae saepe eos facere, ex tempora vel quia minus necessitatibus dolores voluptatibus nobis aperiam error maiores quod, corrupti numquam.</p>
				</li>

				<li class="col-md-4 animated suben">
					<%= image_tag src="academy.png" %>
					<h3>Academy</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam tenetur veniam beatae saepe eos facere, ex tempora vel quia minus necessitatibus dolores voluptatibus nobis aperiam error maiores quod, corrupti numquam.</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="questions">
	<div class="imagen_fondo_banner">
		<div id="titulos">
			<h3>¿Qué estás buscando?</h3>
			<p>Tenemos una solución a la medida para cada persona u organización</p>
		</div>
		<div class="container">
			<div class="row">
				<ul>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Renovar</h4>
						<p>Modelo de negocio, propuesta de valor, nuevos productos</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Crecer</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Diferenciar</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Desarrollar ideas</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Construir modelo de negocios</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Lanzamiento de ideas</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Herramientas para emprender</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Herramientas para innovar</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

					<li class="col-md-4 col-xs-6">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
						<h4>Desarrollo de talento</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<a href="#">Conocer más ></a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>


<div id="proceso">
	<div class="container">
		<h2>Proceso de Innovación Idearia Lab</h2>
		<hr class="red">
		<div class="row">
			<ul>
				<div class="row">


					<li class= "col-xs-4 col-xs-offset-4">
						<div class="hexagon rojo"><span>0</span></div>
						<h3>Fase Cero</h3>
						<h4>Ambientar</h4>
					</li>
					

					<li class="col-xs-"><div class="linea"></div></li>

				</div>

				<div class="row">
					<li class= "col-xs-2 col-xs-offset-2">
						<div class="hexagon"><span>1</span></div>
						<h3>Fase Uno</h3>
						<h4>Clarificar</h4>
					</li>


					<li class= "col-xs-2 col-xs-offset-1">
						<div class="hexagon"><span>2</span></div>
						<h3>Fase Dos</h3>
						<h4>Diferenciar</h4>
					</li>

					<li class= "col-xs-2 col-xs-offset-1">
						<div class="hexagon"><span>3</span></div>
						<h3>Fase Tres</h3>
						<h4>Idear</h4>
					</li>	

					<li><div class="linea"></div></li>

				</div>



				<li class= "col-xs-2 col-xs-offset-1">
					<div class="hexagon"><span>4</span></div>
					<h3>Fase Cinco</h3>
					<h4>Conceptualizar</h4>
				</li>


				<li class= "col-xs-2 col-xs-offset-2">
					<div class="hexagon"><span>5</span></div>
					<h3>Fase Cinco</h3>
					<h4>Prototipar</h4>
				</li>


				<li class= "col-xs-2 col-xs-offset-2">
					<div class="hexagon"><span>6</span></div>
					<h3>Fase Seis</h3>
					<h4>Implementar</h4>
				</li>	
				<li><div class="linea"></div></li>
			</ul>
		</div>
	</div>
</div>



<!-- Fin de proceso -->

<!-- Banner -->

<div id="banner" class="mid_banner home2">
	<div class="container">
		<p class="mid_banner_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam impedit consectetur velit. Unde porro, sequi id cupiditate fugiat magnam saepe, sit adipisci iure alias iusto magni perspiciatis amet laborum iste!</p>
	</div>
</div>




<div id="clientes">
	<div class="container">
		<div class="row">
			<h3>Nuestros clientes nos certifican</h3>
			<p>20 años de expierncia con las mejores empresas de México, llevándolos de la mano hacías las mejores nuevas líneas de neogocio</p>
			<ul>
				<li class="col-sm-2 col-xs-4 ">
					<%= image_tag src="cliente01.png" %>
				</li>
				<li class="col-sm-2 col-xs-4 ">
					<%= image_tag src="cliente02.png" %>
				</li>
				<li class="col-sm-2 col-xs-4 ">
					<%= image_tag src="cliente03.png" %>
				</li>
				<li class="col-sm-2 col-xs-4 ">
					<%= image_tag src="cliente04.png" %>
				</li>
				<li class="col-sm-2 col-xs-4 ">
					<%= image_tag src="cliente05.png" %>
				</li>
				<li class="col-sm-2 col-xs-4 ">
					<%= image_tag src="cliente08.png" %>
				</li>
			</ul>
		</div>
	</div>
</div>
















<script>
	$(function(){
		$(".element").typed({
			strings: ["^1000 para transformar", "^1000 para crecer", "^1000 para ser diferente"],
			typeSpeed: 100,
			loop: true,
			backDelay: 500,
		});
	});


</script>